body {
  margin: 1rem;
  align-content: flex-start;
  justify-content: center;
  color: rgba(255, 255, 255, 0.87);
  background: rgb(60, 60, 60);
  background: linear-gradient(180deg, rgba(60,60,60,1) 0%, rgba(94,94,94,1) 100%);
  min-height: 100vh;
}
