/**:focus,*/
/*!**:active,*!*/
/**:focus-visible {*/
/*  outline: none !important;*/
/*  box-shadow: none !important;*/
/*}*/

body {
  margin: 0;
  /* align-content: flex-start;
  justify-content: center; */
  color: rgba(255, 255, 255, 0.87);
  background: rgb(0, 0, 0);
  min-height: 100vh;
  overflow: hidden;
}

.body-wrapper {
  padding: 0.6rem;
  background: linear-gradient(180deg, rgb(40, 40, 42) 0%, rgba(80,80,82) 100%);
  min-height: 100vh;
  /*border: 1px solid var(--primary-color);*/
  box-sizing: border-box;
  overflow: hidden;
}

html {
  overflow-y: scroll; /* Reserve scrollbar space permanently */
}

body.modal-open {
  overflow: hidden; /* Disable scrolling when modal is open */
}