.play-button {
  font-family: 'BebasNeue', Arial, serif;
  font-size: 4.5vw;
  font-weight: 600;
  line-height: 0.5;
  width: 53.0vw;
}

.sub-status,
.sub-status-generic,
.sub-status-win,
.sub-status-loose {
  align-content: center;
  text-align: center;
  font-family: 'Oxygen', Arial, serif;
  font-size: 3vw;
  color: var(--attention-color);
  font-weight: 100;
  letter-spacing: 0.2vw;
  height: 100%;
}

.sub-status-generic {
  padding-top: 1vw;
}

.sub-status-win {
  padding-top: 1vw;
  font-size: 4vw;
  color: var(--win-color);
  font-weight: 200;
  letter-spacing: 2px;
}

.sub-status-loose {
  padding-top: 1vw;
  font-size: 4vw;
  color: var(--loose-color);
  font-weight: 200;
  letter-spacing: 2px;
}

.status-get,
.status-unknown,
.status-in-play,
.status-out-play,
.status-finished {
  display: flex;
  height: 100%;
  width: 51.0vw;
  border-radius: 2vw;
  position: relative;
  overflow: visible;
  z-index: 0; /* Added to create a new stacking context */
}

.status-get .content,
.status-unknown .content,
.status-in-play .content,
.status-out-play .content,
.status-finished .content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'BebasNeue', Arial, serif;
  font-size: 5vw;
  color: var(--primary-color);
  font-weight: 300;
  letter-spacing: 2px;
  position: relative;
  z-index: 1;
  background-color: black;
  border-radius: 2vw;
  width: 100%;
  height: 100%;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

/* Общий стиль, вынесенный в один блок */
.status-get::after,
.status-get::before,
.status-unknown::after,
.status-unknown::before,
.status-in-play::after,
.status-in-play::before,
.status-out-play::after,
.status-out-play::before,
.status-finished::after,
.status-finished::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), transparent 50%, var(--bg-color));
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0); /* Hardware acceleration */
  z-index: -1;
  padding: 0.2vw;
  border-radius: 2vw;
  animation: 3s spin linear infinite;
  -webkit-backface-visibility: hidden; /* Fix Safari blur issue */
  backface-visibility: hidden;
}

/* Общие свойства для псевдоэлементов before */
.status-get::before,
.status-unknown::before,
.status-in-play::before,
.status-out-play::before,
.status-finished::before {
  filter: blur(1vw);
  opacity: 0.7;
}

/* Переопределение только цвета через переменные */
.status-unknown {
  --bg-color: var(--status-unkown);
}

.status-get {
  --bg-color: var(--status-get);
}

.status-in-play {
  --bg-color: var(--status-in-play);
}

.status-out-play {
  --bg-color: var(--status-out-play);
}

.status-finished {
  --bg-color: var(--status-finished);
}

/* Анимация остается общей */
@keyframes spin {
  from { --angle: 0deg; }
  to   { --angle: 360deg; }
}