.main-caption {
  display: flex;
  flex-direction: column;
  flex: auto;
  align-items: end;
  /*align-items: baseline;*/
  flex-wrap: nowrap;
  /*background-color: antiquewhite;*/
  width: 100%;
  text-align: end;
}

.spacer {
  width: 100%;
}

.wontopia-container {
  width: 100%;
  line-height: 1;
  display: grid;
  text-transform: uppercase;
  /*background-color: yellow;*/
}

.wontopia-container > div {
  /*padding-left: 3px;*/
  padding-right: 1vw;
  background-clip: text;
  -webkit-background-clip: text;
  font-family: 'BebasNeue', Arial, serif;
  font-size: 26vw;
  font-weight: 700;
  /*grid-area: overlap;*/
  letter-spacing: 3px;
  -webkit-text-stroke: 4px transparent;
}

.wontopia {
  background-image: repeating-linear-gradient( 180deg,
  var(--light-shadow) 0%,
  var(--dark) 100%);
  color: var(--primary-color);
}

.version {
  color: gray;
  font-size: 4vw;
  font-weight: 300;
  padding-right: 1vw;
}
