:root {
  --dark: #1C1C1C;
  --light-shadow: #202020;
}

.main-caption {
  display: flex;
  flex-direction: row;
  flex: auto;
  align-items: baseline;
  flex-wrap: nowrap;
  /*background-color: antiquewhite;*/
  width: 100%;
}

.spacer {
  width: 100%;
}

.wontopia-container {
  line-height: 1;
  display: grid;
  text-transform: uppercase;
}

.wontopia-container > div {
  padding-left: 3px;
  padding-right: 3px;
  background-clip: text;
  -webkit-background-clip: text;
  font-family: 'BebasNeue', Arial, serif;
  font-size: 20vw;
  font-weight: 700;
  /*grid-area: overlap;*/
  letter-spacing: 3px;
  -webkit-text-stroke: 4px transparent;
}

.wontopia {
  background-image: repeating-linear-gradient( 180deg,
  var(--light-shadow) 0%,
  var(--dark) 100%);
  color: #B40000;
}

.version {
  color: gray;
  font-size: 5vw;
  font-weight: 300;
}
